<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>一个微博网站</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style>
        .twitter-container {
            max-width: 80%;
            margin: 0 auto;
        }

        .twitter-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
        }

        .twitter-logo img {
            height: 40px;
        }

        .twitter-login {
            display: flex;
        }

        .twitter-input {
            display: flex;
            margin-bottom: 20px;
            max-width: 600px;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
        }

        .twitter-content {
            overflow-y: auto;
            max-width: 600px;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
        }

        .twitter-card {
            margin-bottom: 20px;
        }

        .twitter-card-header {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }

        .twitter-avatar {
            height: 40px;
            border-radius: 50%;
            margin-right: 10px;
        }

        .twitter-username {
            font-weight: bold;
        }

        .twitter-timestamp {
            margin-left: 10px;
            font-size: 12px;
            color: #999;
        }

        .load-more-button {
            margin-top: 20px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .no-more-tweets {
            margin-top: 20px;
            text-align: center;
            font-size: 14px;
            color: #999;
        }

        .form-button {
            margin-left: auto;
            margin-right: auto;
            align-items: center;
        }
    </style>
</head>
<body>
    <div id="app">
            <div class="twitter-container">
                <!-- 顶栏 -->
                <div class="twitter-header">
                    <div class="twitter-logo">
                        <!-- 网站LOGO -->
                        <img src="https://raw.githubusercontent.com/1502020011/MyWeiboDemoImageRepository/main/icon.png" alt="Twitter Logo">
                    </div>

                    <div class="block" v-if="Loggedin">
                        <el-avatar :size="50" :src="LoggedinUser.iconAddress"></el-avatar>
                        <el-dropdown @command="handleCommand">
                            <span class="el-dropdown-link">
                            {{LoggedinUser.nickname}}<i class="el-icon-arrow-down el-icon--right"></i>
                            </span>
                            <el-dropdown-menu slot="dropdown">
                                <el-dropdown-item >个人主业</el-dropdown-item>
                                <el-dropdown-item command="logout">登出</el-dropdown-item>
                            </el-dropdown-menu>
                        </el-dropdown>
                    </div>
                    <div class="twitter-login" v-else>
                        <!-- 登录与注册的按钮 -->
                        <el-button @click="openLoginandResetform">登录</el-button>
                        <el-button @click="openRegisterandResetform" type="primary">注册</el-button>
                    </div>
                </div>


                <!-- 输入框和发布按钮 -->
                <div class="twitter-input" v-if="Loggedin">
                    <el-input v-model="tweet" placeholder="分享你的新鲜事..."></el-input>
                    <el-button type="primary" @click="postTweet">发布</el-button>
                </div>

                <!-- 动态滚动加载内容的组件 -->
                <div class="twitter-content">
                    <el-card class="twitter-card" v-for="tweet in tweets" :key="tweet.id">
                        <div class="twitter-card-header">
                            <img class="twitter-avatar" :src="tweet.user.iconAddress" alt="Avatar">
                            <div class="twitter-userinfo">
                                <div class="twitter-username">{{ tweet.user.nickname }}</div>
                                <div class="twitter-timestamp">{{ tweet.createdTime|formatDate }}</div>
                            </div>
                        </div>
                        <div class="twitter-card-body">{{ tweet.message }}</div>
                    </el-card>
                    <el-button v-if="hasMoreTweets" class="load-more-button" type="primary" @click="loadMoreTweets">加载更多</el-button>
                    <div v-else class="no-more-tweets">没有更多推特了</div>
                </div>
            </div>

            <div>
                <el-dialog
                        title="登录"
                        :visible.sync="loginFormVisible"
                        width="30%"
                        center
                        >
                    <br/>
                    <el-form :model="form">
                        <el-form-item label="用户名" :label-width="formLabelWidth" prop="username">
                            <el-col :span="20">
                                <el-input v-model="form.username" autocomplete="off" placeholder="请输入用户名"></el-input>
                            </el-col>
                            </el-form-item>
                        <el-form-item label="密码" :label-width="formLabelWidth" prop="password">
                            <el-col :span="20">
                                <el-input type="password" v-model="form.password" autocomplete="off" placeholder="请输入密码"></el-input>
                            </el-col>
                        </el-form-item>
                        <el-form-item>
                            <!--<div slot="footer" class="dialog-footer">-->
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <el-button @click="loginFormVisible = false">取 消</el-button>
                                <el-button type="primary" @click="login">登 录</el-button>
                            <!--</div>-->
                        </el-form-item>
                    </el-form>
                </el-dialog>
            </div>

        <div>
            <el-dialog
                    title="注册"
                    :visible.sync="registerFormVisible"
                    width="30%"
                    center
            >
                <br/>
                <el-form :model="reform" ref="reform" :rules="reform_rules">
                    <el-form-item label="用户名" :label-width="formLabelWidth" prop="username" >
                        <el-col :span="20">
                            <el-input v-model="reform.username" autocomplete="off" placeholder="请输入用户名"></el-input>
                        </el-col>
                    </el-form-item>
                    <el-form-item label="密码" :label-width="formLabelWidth" prop="password">
                        <el-col :span="20">
                            <el-input type="password" v-model="reform.password" autocomplete="off" placeholder="请输入密码"></el-input>
                        </el-col>
                    </el-form-item>
                    <el-form-item label="再次输入密码" :label-width="formLabelWidth" prop="password2">
                        <el-col :span="20">
                            <el-input type="password" v-model="reform.password2" autocomplete="off" placeholder="请再次输入密码"></el-input>
                        </el-col>
                    </el-form-item>
                    <el-form-item label="昵称" :label-width="formLabelWidth" prop="nickname">
                        <el-col :span="20">
                            <el-input v-model="reform.nickname" autocomplete="off" placeholder="请输入昵称"></el-input>
                        </el-col>
                    </el-form-item>
                    <el-form-item label="邮箱" :label-width="formLabelWidth" prop="email">
                        <el-col :span="20">
                            <el-input v-model="reform.email" autocomplete="off" placeholder="请输入邮箱"></el-input>
                        </el-col>
                    </el-form-item>
                </el-form>
                <div slot="footer" class="dialog-footer">
                    <el-button @click="registerFormVisible = false">取 消</el-button>
                    <el-button type="primary" @click="submitreform">注 册</el-button>
                </div>
            </el-dialog>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="https://unpkg.com/vue@2/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    new Vue({
        el: '#app',
        name: 'Twitter',
        data: {
                page: 1, // 当前页码
                pagesize: 5,
                maxpages: 0,
                tweet: '',
                form: {
                },
                reform: {
                    nickname:'',
                    password:'',
                    password2:''
                },
                reform_rules:{
                    username: [
                        {required: true, message: '请输入用户名', trigger: 'blur'},
                        {min: 6, max: 32, message: '长度在 6 到 32 个字符', trigger: 'blur'}
                    ],
                    password: [
                        {required: true, message: '请输入密码', trigger: 'blur'},
                        {min: 6, max: 32, message: '长度在 6 到 32 个字符', trigger: 'blur'},
                        {validator: (rule, value, callback) => {if (!/^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,32}$/.test(value)) {callback(new Error('密码应至少包含一个字母和一个数字'))}else {callback()}}, trigger: 'blur'}
                    ],
                    password2: [
                        {required: true, message: '请再次输入密码', trigger: 'blur'},
                        {validator: (rule, value, callback) => {if (!/^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,32}$/.test(value)) {callback(new Error('密码应至少包含一个字母和一个数字'))}else {callback()}}, trigger: 'blur'}
                    ],
                    nickname:[
                        {required: true, message: '请输入昵称', trigger: 'blur'},
                        {min: 6, max: 32, message: '长度在 6 到 32 个字符', trigger: 'blur'}
                    ],
                    email:[
                        { required: true, message: '请输入邮箱', trigger: 'blur' },
                        {type: 'email', message: '邮箱格式不正确' , trigger: 'blur'}
                    ]
                },
                tweets: [
                    {
                        id: Date.now(),
                        username: 'Jane Doe',
                        avatar: './avatar.png',
                        content: '这是第 ' + this.page + ' 页的推特',
                        timestamp: new Date().toLocaleString()
                    },
                    {
                        id: Date.now(),
                        username: 'Jane Doe',
                        avatar: './avatar.png',
                        content: '这是第 ' + this.page + ' 页的推特',
                        timestamp: new Date().toLocaleString()
                    },
                    {
                        id: Date.now(),
                        username: 'Jane Doe',
                        avatar: './avatar.png',
                        content: '这是第 ' + this.page + ' 页的推特',
                        timestamp: new Date().toLocaleString()
                    },
                    {
                        id: Date.now(),
                        username: 'Jane Doe',
                        avatar: './avatar.png',
                        content: '这是第 ' + this.page + ' 页的推特',
                        timestamp: new Date().toLocaleString()
                    },
                    {
                        id: Date.now(),
                        username: 'Jane Doe',
                        avatar: './avatar.png',
                        content: '这是第 ' + this.page + ' 页的推特',
                        timestamp: new Date().toLocaleString()
                    }
                ], // 推特列表
                hasMoreTweets: true, // 是否还有更多推特
                loginFormVisible: false,
                registerFormVisible: false,
                formLabelWidth: '120px',
                Loggedin: false,
                LoggedinUser:{}
        },
        methods: {
            // 发布推特
            postTweet() {
                const tweet = {
                    message: this.tweet,
                    id: this.LoggedinUser.id
                };
                if(tweet.message.trim() === '' ){
                    this.$message.error("请输入内容");
                    return;
                }
                axios.post("/message/sendmessage",tweet).then((res) => {
                    if(res.data.flag){
                        this.$message({
                            message: '发送成功',
                            type: 'success'
                        });
                    this.page = 1;
                    this.loadfirsttweets();
                    }else {
                        this.$message.error(res.data.message);
                    }
                } ).finally(() => {
                    this.tweet = '';
                });
            },
            // 加载更多推特
            loadMoreTweets() {
                // TODO: 加载更多推特的逻辑
                this.page++;

                axios.get("/message/getmessage?page="+this.page).then((res) => {
                    this.maxpages = res.data.pages;
                    // const newtweets = this.tweets.splice();
                    // newtweets.push(res.data.data);
                    // this.tweets = newtweets;
                    this.tweets.push(...res.data.data);
                    this.hasMoreTweets = this.page < this.maxpages;
                } );
            },
            openRegisterandResetform(){
                this.$nextTick(() => {
                    this.$refs["reform"].clearValidate();
                });
                this.reform = {};
                this.registerFormVisible = true;
            },
            openLoginandResetform(){
                this.form = {};
                this.loginFormVisible = true;
            },
            submitreform(){
                this.registerFormVisible = false;
                this.$refs['reform'].validate(valid => {
                    if(valid){
                        console.log(this.reform);
                        axios.post("/user/register",this.reform).then((res) => {
                            if(res.data.flag){
                                this.$message({
                                    message: '注册成功，请进行登录',
                                    type: 'success'
                                });
                            }else{
                                this.$message.error(res.data.message);
                            }
                        } )
                    }else{
                        this.$message.error('请检查填入的信息是否正确');
                    }
                });
            },
            login(){
                axios.post("/auth",this.form).then((res) => {
                    if(res.data.flag){
                        this.loginFormVisible = false;
                        this.$message({
                            message: '登录成功',
                            type: 'success'
                        });
                        this.getloggedin();
                    }else{
                        this.$message.error(res.data.message);
                    }
                } );
            },
            logout(){
                axios.get("/logout").then((res) => {
                    this.getloggedin();
                    this.$message({
                        message: '已登出',
                        type: 'success'
                    });
                });
            },
            loadfirsttweets(){
                axios.get("/message/getmessage?page="+this.page).then((res) => {
                    this.maxpages = res.data.pages;
                    this.tweets = res.data.data;
                    this.hasMoreTweets = this.page < this.maxpages;
                } );
            },
            getloggedin(){
                axios.get("/getloggedin").then((res) =>{
                    if(res.data.flag){
                        this.Loggedin = true;
                        this.LoggedinUser = res.data.data;
                        console.log(res.data.message);
                    }else {
                        this.Loggedin = false;
                        console.log(res.data.message);
                    }
                } );
            },
            handleCommand(command) {
                if(command === "logout") {
                    this.logout();
                }
            }
            // onSubmit(){
            //     const xhr = new XMLHttpRequest();
            //     xhr.open('POST', '/login', false);
            //     xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            //     xhr.send(`username=${this.form.username}&password=${this.form.password}`);
            //     if (xhr.status === 200) {
            //         // 请求成功
            //         console.log(xhr.responseText);
            //     } else {
            //         // 请求失败
            //         console.error('提交表单失败');
            //     }
            // }
        },
        filters: {
            formatDate(value) {
                const date = new Date(value);
                const year = date.getFullYear();
                const month = ('0' + (date.getMonth() + 1)).slice(-2);
                const day = ('0' + date.getDate()).slice(-2);
                const hour = ('0' + date.getHours()).slice(-2);
                const minute = ('0' + date.getMinutes()).slice(-2);
                const second = ('0' + date.getSeconds()).slice(-2);
                return `${year}/${month}/${day} ${hour}:${minute}:${second}`;
            }
        },
        created() {
            this.loadfirsttweets();
            this.getloggedin();
        }
    })
</script>
</html>
</html>