<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.eu.konworkers.myweibodemo.dao.UserDao">

    <resultMap id="baseresultmap" type="User">
        <id column="ID" jdbcType="VARCHAR" property="id"></id>
        <result column="USERNAME" jdbcType="VARCHAR" property="username"></result>
        <result column="PASSWORD" jdbcType="VARCHAR" property="password"></result>
        <result column="CREATED_TIME" jdbcType="TIMESTAMP" property="cratedTime"></result>
        <result column="NICKNAME" jdbcType="VARCHAR" property="nickname"></result>
        <result column="EMAIL" jdbcType="VARCHAR" property="email"></result>
        <result column="ROLE_ID" jdbcType="VARCHAR" property="roleId"></result>
        <result column="ICON_ADDRESS" jdbcType="VARCHAR" property="iconAddress"></result>
        <association property="role" javaType="Role" column="ROLE_ID" select="org.eu.konworkers.myweibodemo.dao.RoleDao.selectById"></association>
    </resultMap>

    <!-- 定义查询语句 -->
    <select id="selectAll" resultType="User">
        SELECT * FROM User
    </select>

    <select id="selectById" parameterType="String" resultMap="baseresultmap">
        SELECT * FROM User WHERE ID=#{id}
    </select>

    <select id="selectByUsername" parameterType="String" resultMap="baseresultmap">
        SELECT * FROM User WHERE USERNAME=#{username}
    </select>

    <insert id="add" parameterType="User">
        INSERT INTO User (ID,USERNAME,PASSWORD,CREATED_TIME,NICKNAME,EMAIL,ROLE_ID,ICON_ADDRESS) VALUES (#{id}, #{username}, #{password}, #{cratedTime}, #{nickname}, #{email}, #{roleId}, #{iconAddress})
    </insert>

    <delete id="deleteById" parameterType="String">
        DELETE FROM User WHERE id = #{id}
    </delete>

    <update id="editBasicData" parameterType="User">
        UPDATE User SET NICKNAME = #{nickname} , EMAIL = #{email} , ICON_ADDRESS = #{iconAddress} WHERE id = #{id}
    </update>

    <update id="editpassword" parameterType="User">
        UPDATE User SET PASSWORD = #{password} WHERE id = #{id}
    </update>
</mapper>